@import "tailwindcss";

@theme {
    --font-poppins: Poppins, sans-serif;

    --color-primary: #B88E2F;
    --color-primary-dark: #aa842b;
    --color-title: #3A3A3A;
    --color-par: #666666;
    --color-secondary: #9F9F9F;
    --color-secbg: #FCF8F3;
    
    --breakpoint-sm: 360px;
    --breakpoint-md: 480px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 992px;
    --breakpoint-2xl: 1200px;
}

* {
    font-family: Poppins, sans-serif;
}

.container {
    @apply w-full m-auto px-3 sm:max-w-[360px] md:max-w-[480px] lg:max-w-[768px] xl:max-w-[992px] 2xl:max-w-[1200px]
}

section:not(.hero) {
    @apply py-16
}